# PostgreSQL Configuration
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=analytics_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
PRODUCT_EVENTS_TOPIC=product-events
ORDER_EVENTS_TOPIC=order-events
ENRICHED_ORDER_EVENTS_TOPIC=enriched-order-events
KAFKA_STREAMS_APP_ID=ecommerce-analytics-query
KAFKA_STREAMS_HOST=query-service
KAFKA_STREAMS_PORT=8081

# Service Ports
COMMAND_SERVICE_PORT=8080
QUERY_SERVICE_PORT=8081

# Query Service Stores
PRODUCT_SALES_STORE=product-sales-store
CATEGORY_REVENUE_STORE=category-revenue-store
HOURLY_SALES_STORE=hourly-sales-store
